PORT=3000
NODE_ENV=development

# Database configuratie (nu verbonden met de interne Docker database)
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=pingfin

# Bank configuratie (Jullie OB/BB gegevens)
BANK_BIC=BOFABE3X
BANK_NAME=FAI Bank
BANK_MEMBERS=Azzouzi Fadil, Hammouche Ayoub, Kallouch Ilyas

# Clearing Bank configuratie
CB_BASE_URL=https://stevenop.be/pingfin/api/v2
CB_BIC=BOFABE3X
CB_SECRET_KEY=YOUR_CB_SECRET_KEY

# Security
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=4h
DEFAULT_USER=admin
DEFAULT_PASSWORD=admin123

# Poller
POLL_INTERVAL_SECONDS=30
POLL_ENABLED=false
