/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.8.6-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: pingfin
-- ------------------------------------------------------
-- Server version	11.8.6-MariaDB-ubu2404

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `accounts`
--

DROP TABLE IF EXISTS `accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts` (
  `id` varchar(34) NOT NULL,
  `balance` decimal(10,2) NOT NULL CHECK (`balance` >= 0),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `accounts` WRITE;
/*!40000 ALTER TABLE `accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `ack_in`
--

DROP TABLE IF EXISTS `ack_in`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ack_in` (
  `po_id` varchar(50) NOT NULL,
  `po_amount` decimal(10,2) DEFAULT NULL,
  `po_message` varchar(255) DEFAULT NULL,
  `po_datetime` datetime DEFAULT NULL,
  `ob_id` varchar(20) DEFAULT NULL,
  `oa_id` varchar(34) DEFAULT NULL,
  `ob_code` varchar(10) DEFAULT NULL,
  `ob_datetime` datetime DEFAULT NULL,
  `cb_code` varchar(10) DEFAULT NULL,
  `cb_datetime` datetime DEFAULT NULL,
  `bb_id` varchar(20) DEFAULT NULL,
  `ba_id` varchar(34) DEFAULT NULL,
  `bb_code` varchar(10) DEFAULT NULL,
  `bb_datetime` datetime DEFAULT NULL,
  `status` varchar(20) DEFAULT 'pending',
  `received_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`po_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ack_in`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `ack_in` WRITE;
/*!40000 ALTER TABLE `ack_in` DISABLE KEYS */;
/*!40000 ALTER TABLE `ack_in` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `ack_out`
--

DROP TABLE IF EXISTS `ack_out`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ack_out` (
  `po_id` varchar(50) NOT NULL,
  `po_amount` decimal(10,2) DEFAULT NULL,
  `po_message` varchar(255) DEFAULT NULL,
  `po_datetime` datetime DEFAULT NULL,
  `ob_id` varchar(20) DEFAULT NULL,
  `oa_id` varchar(34) DEFAULT NULL,
  `ob_code` varchar(10) DEFAULT NULL,
  `ob_datetime` datetime DEFAULT NULL,
  `cb_code` varchar(10) DEFAULT NULL,
  `cb_datetime` datetime DEFAULT NULL,
  `bb_id` varchar(20) DEFAULT NULL,
  `ba_id` varchar(34) DEFAULT NULL,
  `bb_code` varchar(10) DEFAULT NULL,
  `bb_datetime` datetime DEFAULT NULL,
  `sent_to_cb` tinyint(1) DEFAULT 0,
  `status` varchar(20) DEFAULT 'sent',
  PRIMARY KEY (`po_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ack_out`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `ack_out` WRITE;
/*!40000 ALTER TABLE `ack_out` DISABLE KEYS */;
/*!40000 ALTER TABLE `ack_out` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `logs`
--

DROP TABLE IF EXISTS `logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `datetime` datetime NOT NULL,
  `message` text DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `po_id` varchar(50) DEFAULT NULL,
  `po_amount` decimal(10,2) DEFAULT NULL,
  `po_message` varchar(255) DEFAULT NULL,
  `po_datetime` datetime DEFAULT NULL,
  `ob_id` varchar(20) DEFAULT NULL,
  `oa_id` varchar(34) DEFAULT NULL,
  `ob_code` varchar(10) DEFAULT NULL,
  `ob_datetime` datetime DEFAULT NULL,
  `cb_code` varchar(10) DEFAULT NULL,
  `cb_datetime` datetime DEFAULT NULL,
  `bb_id` varchar(20) DEFAULT NULL,
  `ba_id` varchar(34) DEFAULT NULL,
  `bb_code` varchar(10) DEFAULT NULL,
  `bb_datetime` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_type` (`type`),
  KEY `idx_datetime` (`datetime`),
  KEY `idx_po_id` (`po_id`)
) ENGINE=InnoDB AUTO_INCREMENT=288 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logs`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `logs` WRITE;
/*!40000 ALTER TABLE `logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `logs` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `po_in`
--

DROP TABLE IF EXISTS `po_in`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `po_in` (
  `po_id` varchar(50) NOT NULL,
  `po_amount` decimal(10,2) DEFAULT NULL,
  `po_message` varchar(255) DEFAULT NULL,
  `po_datetime` datetime DEFAULT NULL,
  `ob_id` varchar(20) DEFAULT NULL,
  `oa_id` varchar(34) DEFAULT NULL,
  `ob_code` varchar(10) DEFAULT NULL,
  `ob_datetime` datetime DEFAULT NULL,
  `cb_code` varchar(10) DEFAULT NULL,
  `cb_datetime` datetime DEFAULT NULL,
  `bb_id` varchar(20) DEFAULT NULL,
  `ba_id` varchar(34) DEFAULT NULL,
  `bb_code` varchar(10) DEFAULT NULL,
  `bb_datetime` datetime DEFAULT NULL,
  `status` varchar(20) DEFAULT 'received',
  PRIMARY KEY (`po_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `po_in`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `po_in` WRITE;
/*!40000 ALTER TABLE `po_in` DISABLE KEYS */;
/*!40000 ALTER TABLE `po_in` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `po_new`
--

DROP TABLE IF EXISTS `po_new`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `po_new` (
  `po_id` varchar(50) NOT NULL,
  `po_amount` decimal(10,2) DEFAULT NULL CHECK (`po_amount` > 0 and `po_amount` <= 500),
  `po_message` varchar(255) DEFAULT NULL,
  `po_datetime` datetime DEFAULT NULL,
  `ob_id` varchar(20) DEFAULT NULL,
  `oa_id` varchar(34) DEFAULT NULL,
  `ob_code` varchar(10) DEFAULT NULL,
  `ob_datetime` datetime DEFAULT NULL,
  `cb_code` varchar(10) DEFAULT NULL,
  `cb_datetime` datetime DEFAULT NULL,
  `bb_id` varchar(20) DEFAULT NULL,
  `ba_id` varchar(34) DEFAULT NULL,
  `bb_code` varchar(10) DEFAULT NULL,
  `bb_datetime` datetime DEFAULT NULL,
  `status` varchar(20) DEFAULT 'pending',
  PRIMARY KEY (`po_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `po_new`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `po_new` WRITE;
/*!40000 ALTER TABLE `po_new` DISABLE KEYS */;
/*!40000 ALTER TABLE `po_new` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `po_out`
--

DROP TABLE IF EXISTS `po_out`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `po_out` (
  `po_id` varchar(50) NOT NULL,
  `po_amount` decimal(10,2) DEFAULT NULL,
  `po_message` varchar(255) DEFAULT NULL,
  `po_datetime` datetime DEFAULT NULL,
  `ob_id` varchar(20) DEFAULT NULL,
  `oa_id` varchar(34) DEFAULT NULL,
  `ob_code` varchar(10) DEFAULT NULL,
  `ob_datetime` datetime DEFAULT NULL,
  `cb_code` varchar(10) DEFAULT NULL,
  `cb_datetime` datetime DEFAULT NULL,
  `bb_id` varchar(20) DEFAULT NULL,
  `ba_id` varchar(34) DEFAULT NULL,
  `bb_code` varchar(10) DEFAULT NULL,
  `bb_datetime` datetime DEFAULT NULL,
  `sent_to_cb` tinyint(1) DEFAULT 0,
  `status` varchar(20) DEFAULT 'sent',
  PRIMARY KEY (`po_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `po_out`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `po_out` WRITE;
/*!40000 ALTER TABLE `po_out` DISABLE KEYS */;
/*!40000 ALTER TABLE `po_out` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `datetime` datetime NOT NULL,
  `po_id` varchar(50) DEFAULT NULL,
  `account_id` varchar(34) DEFAULT NULL,
  `isvalid` tinyint(1) DEFAULT NULL,
  `iscomplete` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_account` (`account_id`),
  KEY `idx_po` (`po_id`)
) ENGINE=InnoDB AUTO_INCREMENT=98 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` varchar(20) DEFAULT 'admin',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES
(1,'admin','$2b$10$H4eWMp.5FFIE/3DA5ZLXKONOPmMyBFpA9KiLLruprmaRaRFEqRVRW','admin','2026-04-29 13:28:54'),
(3,'network','$2b$10$27cMinaasF.l5BmIYkjkHulnpBKalfcq5/FC368xNF3XfDsqIKs8a','admin','2026-04-29 13:39:28');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-04-30 13:01:37
